{% extends 'cvm_page_v1.html' %}

{% block style%}
<link rel="stylesheet" href="/static/css/repository.css" />



{%endblock%}
{% block description%}
<!--
<div class="info-message">
    &nbsp;&nbsp;&nbsp;<b>Note</b>: R0, this tool is not fully developed and does not send an email out.
</div>
-->
<div class="container">

    <h3>How to Submit a Model or Request Help</h3>
    <ul>
        <li>For information on how to contribute your Cascadia Earth model to CRESCENT, visit our <a
                href="https://cascadiaquakes.github.io/cvm-tools-book/contribution_guidelines.html"
                target="_blank">Model Contribution Guidelines</a> page.</li>
        <br />
        <li>To ask questions regarding CVM web/tools, follow the steps outlined below:
            <ol>
                <li><strong>Go to the CRESCENT-CVM GitHub Issue Page</strong> &mdash;
                    <a href="https://github.com/cascadiaquakes/CRESCENT-CVM/issues" class="button" target="_blank">Click
                        here</a> to be
                    taken directly to our GitHub issue tracker.
                </li>
                <li><strong>Create a New Issue</strong> &mdash;
                    Once on the page, click on the "New Issue" button to create a new submission or help request.
                </li>
                <li><strong>Provide Details</strong> &mdash;
                    <ul>
                        <li>Include a brief description of your question or issue.</li>
                        <li>Attach or link any relevant files, if applicable.</li>
                    </ul>
                </li>
                <li><strong>Submit</strong> &mdash;
                    After providing the necessary details, submit the issue. Our team will review your request and
                    respond as soon as possible.
                </li>
            </ol>
        </li>
    </ul>
    <p>We look forward to your submissions and are happy to assist with any questions!</p>

</div>
{%endblock%}